[Unit]
Description=Hadoop Secondary Namenode
Requires=hadoop-datanode.service
After=hadoop-datanode.service

[Service]
ExecStart=/usr/bin/hadoop secondarynamenode
User=hdfs
Group=hadoop

[Install]
WantedBy=multi-user.target
